body {
  font-family: "Arial", sans-serif;
  color: #000000;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.navbar .navbar-brand {
  font-weight: 700;
  color: #343a40;
}
.navbar .nav-link {
  color: #000000;
}
.navbar .nav-link:hover {
  color: #8a8a8a;
}

.hero {
  padding: 120px 0;
  background-image: url("../img/hero-img.webp");
  height: 60vh;
  background-size: cover;
}
.hero h1 {
  font-size: 3.2rem;
  color: white;
  line-height: 1.2;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}
.hero .lead {
  font-size: 18px;
  color: white;
  line-height: 1.6;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  .hero .lead {
    font-size: 1.125rem;
  }
}

.title {
  font-size: 56px;
  font-weight: 600;
}

.subtitle {
  font-size: 22px;
}

.description {
  font-size: 18px;
}

.btn {
  color: white;
  background-color: #000;
  border-radius: 0;
  padding: 6px 30px;
  transition: all 0.32s ease-in-out;
}
.btn:hover {
  border: 1px solid black;
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.section__img--conference {
  height: 550px !important;
  padding: 120px 0;
  position: relative;
}
.section__img--conference::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.38);
  z-index: 1;
}
.section__img--conference::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/sec1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}
.section__img--awards {
  height: 635px !important;
  padding: 120px 0;
  position: relative;
  height: 50vh;
}
.section__img--awards::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.38);
  z-index: 1;
}
.section__img--awards::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/sec2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}
.section__img--conference {
  padding: 120px 0;
  position: relative;
  height: 50vh;
}
.section__img--conference::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.38);
  z-index: 1;
}
.section__img--conference::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/sec1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}
.section__text {
  padding: 20px 80px;
}

.creative-art {
  color: white;
  height: auto;
  padding-top: 60px;
  background-image: url("../img/sec3.webp");
}

footer {
  background-color: #343a40;
  color: white;
  padding: 1rem 0;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
